.cell {
  border: 2px solid rebeccapurple;
  height: 20px;
  width: 20px;
}

.shape-I {
  background-color: turquoise;
}

.shape-J {
  background-color: blue;
}

.shape-L {
  background-color: orange;
}

.shape-O {
  background-color: yellow;
}

.shape-S {
  background-color: limegreen;
}

.shape-T {
  background-color: purple;
}

.shape-Z {
  background-color: red;
}